In [1]:
!pip3 install -q --upgrade pip
!pip3 install -q pandas numpy matplotlib seaborn openpyxl climateserv requests netCDF4 xarray pyproj statsmodels

In [3]:
import sys
from pathlib import Path

# Calculate the path to the scripts folder relative to the current notebook.
scripts_dir = Path("../../").resolve()

# Add the scripts directory to the sys.path if it's not already there.
if str(scripts_dir) not in sys.path:
    sys.path.append(str(scripts_dir))

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
# Data loading and initial preparation
df = pd.read_csv("../../data/original_data/gambia_lat_and_long.csv", sep=';', decimal=',')
df.drop(["FID", "pointid", "grid_code"], axis=1, inplace=True)
df.rename(columns={"POINT_X": "lat", "POINT_Y": "long"}, inplace=True)
df.to_csv("../../data/original_data/gambia_lat_and_long.csv", sep=';', decimal=',', index=False)
df

            lat       long
0    -16.670616  13.488346
1    -16.665998  13.488376
2    -16.684438  13.483734
3    -16.679820  13.483765
4    -16.675202  13.483796
...         ...        ...
2869 -16.746177  13.076569
2870 -16.741567  13.076600
2871 -16.736957  13.076631
2872 -16.732347  13.076662
2873 -16.727737  13.076693

[2874 rows x 2 columns]